@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body {
    font-family: var(--font1);
    min-height: 100%;
    background-color: darkgray;
}

header {
    font-family: var(--font2);
    font-size: 3em;
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    font-family: var(--font1);
    font-size: 3vw;
    padding-bottom: 50px;
}

a {
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    font-size: 2.8vw;
    padding: 4vh 0vh 4vw 30px;
    line-height: 2em;
}

.normal{
    background-color: lightblue;
    color: black;
}

.normal > p {
    padding-bottom: 0px;
}

.imagem {
    background-color: darkgray;
    color: white;
    box-shadow: inset 10pc 10px 20px 0px rgba(0, 0, 0, 0.815);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px 100px 20px;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.623);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.589);
    display: inline-block;
    padding: 10px;
}

#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: center center;
}

#separacao-estrofe {
    padding-bottom: 30px;
}

footer {
    font-family: var(--font1);
    font-size: 1.7vw;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}